# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science.
* List some data science oriented libraries.
* List three development environment open source tools used in data science.

Some of the popular languages that Data Scientists use are:

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy
3. Pandas

| Data Science Tools |
| ------------------ |
| Python |
| R |
| Jupyter |
| Pandas |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Mart√≠ Torres.